
.pageName {
 
  padding: 25px 25px;
  padding-bottom: 18px;
  margin-top: 18px;
}

.divBoton {
    
    margin-right: 12px;
    
    align-self: center;
}

.botonHeader{
  
  font-size: 28px;
    width: 370px;
  
    display: flex;
    align-items: center;
    border-radius: 25px;
    cursor: pointer;
    justify-content: center;
    background-image: linear-gradient(to right, #0087b6 0%, #0058a6 100%);
    margin-top: 12px;
    padding: 7px 0px;
  

}

.menuIcon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
